# MACOS
.DS_Store

# Auth
*.p8
*.p12
*.env

# Xcode
Config.xcconfig
xcuserdata/
*.xcuserstate
GoogleService-Info.plist
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
**/Derived/
**/build/
**/xcuserdata/
ContentView.swift
**/*.xcworkspace/
**/*.xcodeproj/

# NPM
node_modules/
*.log
lib/

# Gem
.bundle/
vendor/bundle/

# Fastlane
.fastlane/
fastlane/README.md
fastlane/report.xml
fastlane/test_output/
fastlane/logs/

# Build Artifacts
*.ipa
*.dSYM.zip
.package.resolved
.home/
.module-cache/
.swift-module-cache/
.tmp/
.spm/
Tuist/.build/
# drawio
*.drawio
*.drawio.bkp

# AI
.superpowers/
